<mat-card class="formCard">
  <mat-card-title>Agrega tu canción favorita</mat-card-title>
  <mat-card-subtitle>Rellenar</mat-card-subtitle>
  <form style="width: 100%" (ngSubmit)="onSubmit()" [formGroup]="contactForm" method="post">

    <mat-card-content class="formContent">

      <mat-form-field class="formInput" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input required name="nombre" formControlName="nombre" matInput>
      </mat-form-field>
      <div [hidden] *ngIf="contactForm.get('nombre')?.touched && contactForm.get('nombre')?.errors?.['required']"
           class="alert alert-danger formInput">Este campo es requerido
      </div>
      <div [hidden] *ngIf="contactForm.get('nombre')?.touched && contactForm.get('nombre')?.errors?.['minlength']"
           class="alert alert-danger formInput">Este campo debe tener longitud mínima de
        {{contactForm.get('nombre')?.errors?.['minlength'].requiredLength}}
      </div>

      <mat-form-field class="formInput" appearance="fill">
        <mat-label>Duración</mat-label>
        <input required name="duracion" formControlName="duracion" matInput>
      </mat-form-field>
      <div [hidden] *ngIf="contactForm.get('duracion')?.touched && contactForm.get('duracion')?.errors?.['required']"
           class="alert alert-danger formInput">Este campo es requerido
      </div>
      <div [hidden] *ngIf="contactForm.get('duracion')?.touched && contactForm.get('duracion')?.errors?.['minlength']"
           class="alert alert-danger formInput">Este campo debe tener longitud mínima de
        {{contactForm.get('duracion')?.errors?.['minlength'].requiredLength}}
      </div>

      <!--      <mat-form-field class="formInput" appearance="fill">-->
      <!--        <mat-label>Email</mat-label>-->
      <!--        <input required name="email" formControlName="email" matInput>-->
      <!--      </mat-form-field>-->
      <!--      <div [hidden] *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']"-->
      <!--           class="alert alert-danger formInput">Este campo es requerido-->
      <!--      </div>-->
      <!--      <div [hidden] *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']"-->
      <!--           class="alert alert-danger formInput">El campo no tiene formato de email válido</div>-->

      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-card-content>
  </form>
</mat-card>

