<header>
  <app-header></app-header>
</header>
<main>
  <mat-card>
    <mat-tab-group animationDuration="0" mat-align-tabs="center">
      <mat-tab label="Todas">
        <app-canciones></app-canciones>
      </mat-tab>
      <mat-tab label="Agregar">
        <app-contact-reactive></app-contact-reactive>
      </mat-tab>
      <mat-tab label="Buscar">
        <mat-card>
          <mat-card-content>
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Introduce id:</mat-label>-->
<!--&lt;!&ndash;              <input required name="id" formControlName="id" matInput>&ndash;&gt;-->
<!--            </mat-form-field>-->
          </mat-card-content>
        </mat-card>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</main>


<router-outlet></router-outlet>
