<header>
  <app-header></app-header>
</header>
<main>
  <mat-card>
    <mat-tab-group animationDuration="0" mat-align-tabs="center">
      <div class="row">
        <mat-tab label="Todos">
          <mat-card *ngFor="let c of canciones">
            <mat-card-content>
              <h5>Nombre de la canción: {{c?.nombre}}</h5>
              <h5>ID de la canción: {{c?.id}}</h5>
              <h5>Duración de canción: {{c?.duracion}}</h5>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </div>
      <mat-tab label="Agregar">
        <app-contact-reactive></app-contact-reactive>
      </mat-tab>
      <mat-tab label="Buscar">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Introduce id: </mat-label>
          <input required name="id" formControlName="id" matInput>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</main>


<router-outlet></router-outlet>
